<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

  <!-- header -->
  <header>
    <!--<ul class="nav nav-tabs">
      <li routerLinkActive="active"><a routerLink="/map">Map</a></li>
      <li routerLinkActive="active"><a routerLink="/todo">firbase todo</a></li>
    </ul>-->


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/map">Map</a></li>
          <li routerLinkActive="active"><a routerLink="/todo">firbase todo</a></li>
          <li routerLinkActive="active"><a routerLink="/googleLogin">google Login</a></li>
           <li routerLinkActive="active"><a routerLink="/paypal">Paypal checkout</a></li>

        </ul>
      </div>
    </nav>

  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <footer>
    <p>
     @ Vighnesh Dandekar
    </p>
   
  </footer>
</div>